:root[data-framework="framework-mobile"],
.wtg-theme-provider-mobile {
    --s-fontsize-100: 12px;
    --s-fontsize-200: 14px;
    --s-fontsize-300: 16px;
    --s-fontsize-400: 20px;
    --s-fontsize-500: 24px;
    --s-fontsize-600: 32px;
    --s-fontsize-700: 40px;
    --s-fontsize-800: 48px;
    --s-fontweight-100: 100;
    --s-fontweight-200: 200;
    --s-fontweight-300: 300;
    --s-fontweight-400: 400;
    --s-fontweight-500: 500;
    --s-fontweight-600: 600;
    --s-fontweight-700: 700;
    --s-fontweight-800: 800;
    --s-lineheight-100: 12px;
    --s-lineheight-200: 20px;
    --s-lineheight-300: 22px;
    --s-lineheight-400: 28px;
    --s-lineheight-500: 36px;
    --s-lineheight-600: 38px;
    --s-lineheight-700: 48px;
    --s-lineheight-800: 58px;
    --s-padding-l: 14px;
    --s-padding-m: 12px;
    --s-padding-null: 0;
    --s-padding-s: 8px;
    --s-padding-xl: 16px;
    --s-padding-xs: 4px;
    --s-padding-xxl: 24px;
    --s-radius-l: 16px;
    --s-radius-m: 12px;
    --s-radius-null: 0;
    --s-radius-s: 4px;
    --s-radius-xl: 24px;
    --s-radius-xs: 2px;
    --s-radius-xxl: 32px;
    --s-sizing-icon-2xl: 48px;
    --s-sizing-icon-3xl: 58px;
    --s-sizing-icon-lg: 36px;
    --s-sizing-icon-md: 22px;
    --s-sizing-icon-sm: 20px;
    --s-sizing-icon-xl: 38px;
    --s-sizing-l: 32px;
    --s-sizing-m: 24px;
    --s-sizing-null: 0;
    --s-sizing-s: 20px;
    --s-sizing-xl: 40px;
    --s-sizing-xs: 12px;
    --s-sizing-xxl: 48px;
    --s-sizing-xxs: 8px;
    --s-spacing-l: 12px;
    --s-spacing-m: 8px;
    --s-spacing-null: 0;
    --s-spacing-s: 4px;
    --s-spacing-xl: 16px;
    --s-spacing-xs: 2px;
    --s-spacing-xxl: 24px;
}
