:root,
.wtg-theme-provider-desktop {
    --s-fontsize-100: 10px;
    --s-fontsize-200: 12px;
    --s-fontsize-300: 13px;
    --s-fontsize-400: 16px;
    --s-fontsize-500: 20px;
    --s-fontsize-600: 28px;
    --s-fontsize-700: 32px;
    --s-fontsize-800: 40px;
    --s-fontweight-100: 100;
    --s-fontweight-200: 200;
    --s-fontweight-300: 300;
    --s-fontweight-400: 400;
    --s-fontweight-500: 500;
    --s-fontweight-600: 600;
    --s-fontweight-700: 700;
    --s-fontweight-800: 800;
    --s-lineheight-100: 10px;
    --s-lineheight-200: 16px;
    --s-lineheight-300: 20px;
    --s-lineheight-400: 24px;
    --s-lineheight-500: 28px;
    --s-lineheight-600: 34px;
    --s-lineheight-700: 38px;
    --s-lineheight-800: 48px;
    --s-padding-l: 12px;
    --s-padding-m: 8px;
    --s-padding-null: 0;
    --s-padding-s: 4px;
    --s-padding-xl: 16px;
    --s-padding-xs: 2px;
    --s-padding-xxl: 24px;
    --s-radius-l: 12px;
    --s-radius-m: 8px;
    --s-radius-null: 0;
    --s-radius-s: 4px;
    --s-radius-xl: 16px;
    --s-radius-xs: 2px;
    --s-radius-xxl: 24px;
    --s-sizing-icon-2xl: 38px;
    --s-sizing-icon-3xl: 48px;
    --s-sizing-icon-lg: 28px;
    --s-sizing-icon-md: 20px;
    --s-sizing-icon-sm: 16px;
    --s-sizing-icon-xl: 34px;
    --s-sizing-l: 20px;
    --s-sizing-m: 16px;
    --s-sizing-null: 0;
    --s-sizing-s: 14px;
    --s-sizing-xl: 24px;
    --s-sizing-xs: 8px;
    --s-sizing-xxl: 32px;
    --s-sizing-xxs: 4px;
    --s-spacing-l: 12px;
    --s-spacing-m: 8px;
    --s-spacing-null: 0;
    --s-spacing-s: 4px;
    --s-spacing-xl: 16px;
    --s-spacing-xs: 2px;
    --s-spacing-xxl: 24px;
}
